[C0] ======BOOM Tile 0 Params======

[C0] ====Overall Frontend Params====

[C0] ==L1-ICache==
[C0] Fetch bytes   : 8
[C0] Block bytes   : 64
[C0] Row bytes     : 8
[C0] Word bits     : 64
[C0] Sets          : 64
[C0] Ways          : 4
[C0] Refill cycles : 8
[C0] RAMs          : (64 x 512) using 1 banks
[C0] Single-banked
[C0] I-TLB entries : 32

[C0] ==Branch Predictor Memory Sizes==

[C0] bank0 tage_l2: 128 x 44 = 704
[C0] bank0 tage_l4: 128 x 44 = 704
[C0] bank0 tage_l8: 256 x 48 = 1536
[C0] bank0 tage_l16: 256 x 48 = 1536
[C0] bank0 tage_l32: 128 x 52 = 832
[C0] bank0 tage_l64: 128 x 52 = 832
[C0] bank0 btb_meta_way0: 128 x 124 = 1984
[C0] bank0 btb_data_way0: 128 x 56 = 896
[C0] bank0 btb_meta_way1: 128 x 124 = 1984
[C0] bank0 btb_data_way1: 128 x 56 = 896
[C0] bank0 ebtb: 128 x 40 = 640
[C0] bank0 bim: 2048 x 8 = 2048
[C0] Total bpd size: 14 KB

[C0] ====Overall Core Params====

[C0] ===ExecutionUnits===

[C0] ==1-wide Machine==
[C0] ==3 Issue==

[C0] ==ExeUnit==
[C0]  - Mem
[C0] ==ExeUnit==
[C0]  - ALU
[C0]  - Mul
[C0]  - Div
[C0]  - IFPU

[C0] ===FP Pipeline===

[C0] ==Floating Point Regfile==
[C0] Num RF Read Ports     : 3
[C0] Num RF Write Ports    : 2
[C0] RF Cost (R+W)*(R+2W)  : 35
[C0] Bypassable Units      : List(false, false)
[C0] Num Wakeup Ports      : 2
[C0] Num Bypass Ports      : 0

[C0] ==ROB==
[C0] Machine Width      : 1
[C0] Rob Entries        : 32
[C0] Rob Rows           : 32
[C0] Rob Row size       : 5
[C0] log2Ceil(coreWidth): 0
[C0] FPU FFlag Ports    : 2

[C0] ===Other Core Params===
[C0] Fetch Width           : 4
[C0] Decode Width          : 1
[C0] Issue Width           : 3
[C0] ROB Size              : 32
[C0] Issue Window Size     : List(8, 8, 8) (Age-based Priority)
[C0] Load/Store Unit Size  : 8/8
[C0] Num Int Phys Registers: 52
[C0] Num FP  Phys Registers: 48
[C0] Max Branch Count      : 8
[C0] ==Integer Regfile==
[C0] Num RF Read Ports     : 4
[C0] Num RF Write Ports    : 2
[C0] RF Cost (R+W)*(R+2W)  : 48
[C0] Bypassable Units      : List(true, true)

[C0] Num Slow Wakeup Ports : 2
[C0] Num Fast Wakeup Ports : 1
[C0] Num Bypass Ports      : 3

[C0] DCache Ways           : 4
[C0] DCache Sets           : 64
[C0] DCache nMSHRs         : 2
[C0] ICache Ways           : 4
[C0] ICache Sets           : 64
[C0] D-TLB Entries         : 8
[C0] I-TLB Entries         : 32
[C0] Paddr Bits            : 32
[C0] Vaddr Bits            : 39

[C0] Using FPU Unit?       : true
[C0] Using FDivSqrt?       : true
[C0] Using VM?             : true


